/* Prettified by Source 2 Viewer 19.1.0.0 - https://valveresourceformat.github.io */

#xTooltipBranchTitle
{
	font-size: 18px;
	font-family: defaultFont;
	color: #e1e1e1;
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: top;
	letter-spacing: 2px;
	margin-top: 7px;
	text-shadow: 0px 0px 4px 2.0 #000000;
	height: 24px;
}

#xStatBranchColumn
{
	horizontal-align: center;
	margin-top: 25px;
	width: 100%;
	flow-children: down;
}

#xLevelColumn
{
	horizontal-align: center;
	margin-top: 21px;
	flow-children: down;
}

